.bleepCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 600px;
	padding: 0.25em 0.25em;
	margin: 0.5rem auto;
}
.topRow {
	display: flex;
	justify-content: space-between;
	margin: 0.25em 0.5em;
}
.username {
	text-align: center;
}
.avatarFrame {
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
}
.avatar {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	object-fit: cover;
}
.buttons {
	display: flex;
	margin: 0;
	width: 50%;
	justify-content: space-around;
}

.bottomRow {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.bleepText {
	height: 80%;
	padding: 0.75rem 0.25rem;
	margin: 0;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.date {
	text-align: right;
}

a {
	text-decoration: none;
}

.metic:hover {
	cursor: pointer;
}
